
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 262 83% 58%;
    --primary-foreground: 210 40% 98%;

    --secondary: 262 20% 95%;
    --secondary-foreground: 262 83% 25%;

    --muted: 262 20% 95%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 262 83% 95%;
    --accent-foreground: 262 83% 25%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 262 20% 90%;
    --input: 262 20% 90%;
    --ring: 262 83% 58%;

    --radius: 0.5rem;

    --sidebar-background: 262 20% 98%;
    --sidebar-foreground: 262 20% 26.1%;
    --sidebar-primary: 262 83% 58%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 262 20% 95%;
    --sidebar-accent-foreground: 262 83% 25%;
    --sidebar-border: 262 20% 91%;
    --sidebar-ring: 262 83% 58%;
  }

  .dark {
    --background: 262 83% 4.9%;
    --foreground: 210 40% 98%;

    --card: 262 83% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 262 83% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 262 83% 70%;
    --primary-foreground: 262 83% 10%;

    --secondary: 262 30% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 262 30% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 262 30% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 262 30% 17.5%;
    --input: 262 30% 17.5%;
    --ring: 262 83% 70%;
    --sidebar-background: 262 83% 10%;
    --sidebar-foreground: 262 20% 95.9%;
    --sidebar-primary: 262 83% 70%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 262 30% 15.9%;
    --sidebar-accent-foreground: 262 20% 95.9%;
    --sidebar-border: 262 30% 15.9%;
    --sidebar-ring: 262 83% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
