
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 250 100% 60%;

    --card: 0 0% 100%;
    --card-foreground: 250 100% 60%;

    --popover: 0 0% 100%;
    --popover-foreground: 250 100% 60%;

    --primary: 250 100% 60%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 100%;
    --secondary-foreground: 250 100% 60%;

    --muted: 0 0% 100%;
    --muted-foreground: 250 100% 60%;

    --accent: 250 100% 60%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 250 20% 90%;
    --input: 250 20% 90%;
    --ring: 250 100% 60%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 250 100% 60%;
    --sidebar-primary: 250 100% 60%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 100%;
    --sidebar-accent-foreground: 250 100% 60%;
    --sidebar-border: 250 20% 90%;
    --sidebar-ring: 250 100% 60%;
  }

  .dark {
    --background: 0 0% 100%;
    --foreground: 250 100% 60%;

    --card: 0 0% 100%;
    --card-foreground: 250 100% 60%;

    --popover: 0 0% 100%;
    --popover-foreground: 250 100% 60%;

    --primary: 250 100% 60%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 100%;
    --secondary-foreground: 250 100% 60%;

    --muted: 0 0% 100%;
    --muted-foreground: 250 100% 60%;

    --accent: 0 0% 100%;
    --accent-foreground: 250 100% 60%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 250 20% 90%;
    --input: 250 20% 90%;
    --ring: 250 100% 60%;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 250 100% 60%;
    --sidebar-primary: 250 100% 60%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 100%;
    --sidebar-accent-foreground: 250 100% 60%;
    --sidebar-border: 250 20% 90%;
    --sidebar-ring: 250 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    min-height: 100vh;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
